/*

SCROLLBAR

*/

html {
  scrollbar-color: #132D41 #2EC9D4;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #132D41;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2EC9D4;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}
