/*

INDEX > SECTION.depoimentos

*/

section.depoimentos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: var(--cor-secundaria-3);
  background-image: url('../../../../../files/images/linhas-tecnologicas-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

section.depoimentos .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 150px 80px;
}

section.depoimentos .texto h2 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 5vw, 3rem);
  line-height: 1.5;
  color: var(--cor-branco);
  width: 100%;
  max-width: 600px;
}

section.depoimentos .texto h2 span {
  color: var(--cor-principal);
}

section.depoimentos .texto p {
  font-family: var(--fonte-light);
  font-size: clamp(1rem, 5vw, 1.3rem);
  line-height: 1.5;
  color: var(--cor-texto);
  padding: 20px 0 0 0;
  width: 100%;
  max-width: 600px;
}

section.depoimentos img.cliente {
  position: absolute;
  bottom: -500px;
  left: 100px;
  width: 100%;
  max-width: 600px;
}

section.depoimentos .setas {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 80px;
}

section.depoimentos .setas button {
  background-color: transparent;
}

section.depoimentos .setas button.voltar {
  margin: 0 30px 0 0;
}

section.depoimentos .setas button img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  pointer-events: none;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
  section.depoimentos {
    flex-direction: column;
    justify-content: center;
    padding: 80px 25px 50px 25px;
  }
  section.depoimentos .texto {
    width: 100%;
    padding: 0 0 50px 0;
  }
  section.depoimentos img.cliente {
    position: initial;
    width: 100%;
    max-width: 600px;
  }
  section.depoimentos .setas {
    position: initial;
    padding: 0 0 30px 0;
  }
}
