/*

INDEX > SECTION.beneficios

*/

section.beneficios {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: var(--cor-secundaria-3);
  background-image: url('../../../../../files/images/linhas-tecnologicas-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

/* Teclado */

section.beneficios img.teclado {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 50%;
}

/* Itens */

section.beneficios .itens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 150px 80px;
}

section.beneficios .itens .item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 0;
}

section.beneficios .itens .item img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
}

section.beneficios .itens .item .texto {
  padding: 70px 50px 0 50px;
}

section.beneficios .itens .item.dois .texto {
  padding: 70px 50px 0 0;
}

section.beneficios .itens .item h3 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 5vw, 3rem);
  line-height: 1.5;
  color: var(--cor-branco);
}

section.beneficios .itens .item p {
  font-family: var(--fonte-light);
  font-size: clamp(1rem, 5vw, 1.3rem);
  line-height: 1.5;
  color: var(--cor-texto);
  padding: 10px 0 0 0;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
}
