/*

INDEX > SECTION.sites

*/

section.sites {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--cor-secundaria-3);
  background-image: url('../../../../../files/images/linhas-tecnologicas-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.sites .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  padding: 150px 80px;
}

section.sites .texto h2 {
  display: flex;
  align-items: center;
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 5vw, 3rem);
  line-height: 1.5;
  color: var(--cor-branco);
}

section.sites .texto h2 img {
  width: 100%;
  max-width: 300px;
  margin: 0 0 0 15px;
}

section.sites .texto p {
  font-family: var(--fonte-light);
  font-size: clamp(1rem, 5vw, 1.3rem);
  line-height: 1.5;
  color: var(--cor-texto);
  padding: 20px 0;
  width: 100%;
  max-width: 700px;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
}
