/*

INDEX > SECTION.planos

*/

section.planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-secundaria-3);
  background-image: url('../../../../../files/images/linhas-tecnologicas-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px;
}

/* Título */

section.planos .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 0 50px 0;
}

section.planos .titulo h2 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1.5;
  color: var(--cor-branco);
  width: 100%;
  max-width: 560px;
}

section.planos .titulo h2 span {
  color: var(--cor-principal);
}

section.planos .titulo p {
  font-family: var(--fonte-light);
  font-size: clamp(1rem, 3vw, 1.3rem);
  line-height: 1.5;
  color: var(--cor-texto);
  padding: 10px 0 0 0;
  width: 100%;
  max-width: 600px;
}

/* Conteúdo */

section.planos .conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
}

/* Conteúdo Prévia */

section.planos .conteudo .previa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: var(--cor-secundaria-2);
  border-radius: 20px;
  position: relative;
}

section.planos .conteudo .previa .nome {
  position: absolute;
  top: -40px;
  left: -20px;
  padding: 20px;
  min-width: 250px;
  border-radius: 15px;
  background-color: var(--cor-secundaria-0);
}

section.planos .conteudo .previa .nome p {
  font-family: var(--fonte-light);
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  line-height: 1;
  color: var(--cor-principal);
}

section.planos .conteudo .previa .nome h3 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.3rem, 3vw, 1.6rem);
  line-height: 1;
  color: var(--cor-principal);
}

section.planos .conteudo .previa .partes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 70px 50px 50px 50px;
}

section.planos .conteudo .previa .partes .direita {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 50%;
  padding: 0 0 0 10px;
}

section.planos .conteudo .previa .partes .direita p {
  font-family: var(--fonte-demibold);
  font-size: clamp(1rem, 3vw, 1.3rem);
  color: var(--cor-branco);
  padding: 25px 0 0 0;
}

section.planos .conteudo .previa .partes .direita .espacinhos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  padding: 35px 0 0 0;
}

section.planos .conteudo .previa .partes .direita .espacinhos span {
  width: 100%;
  height: 13px;
  min-height: 13px;
  max-height: 13px;
  background-color: var(--cor-secundaria-0);
  margin: 0 10px 0 0;
}

section.planos .conteudo .previa .partes .direita .espacinhos span.ativo {
  background-color: var(--cor-principal);
}

section.planos .conteudo .previa .partes .esquerda {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  width: 50%;
  padding: 0 10px 0 0;
}

section.planos .conteudo .previa .partes .esquerda p {
  font-family: var(--fonte-light);
  font-size: clamp(1rem, 3vw, 1.3rem);
  color: var(--cor-texto);
  padding: 25px 0 0 0;
}

section.planos .conteudo .preco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0 0 50px 0;
}

section.planos .conteudo .preco .tempo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: 0 0 50px 0;
}

section.planos .conteudo .preco .tempo button {
  font-family: var(--fonte-demibold);
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: var(--cor-principal);
  background-color: var(--cor-secundaria-0);
  width: 100%;
  max-width: 120px;
  padding: 15px 0;
  border-radius: 100px;
  transition: all 0.3s;
}

section.planos .conteudo .preco .tempo button:hover {
  background-color: var(--cor-secundaria-3);
}

section.planos .conteudo .preco .tempo button.ativo {
  background-color: var(--cor-principal);
  color: var(--cor-branco);
  pointer-events: none;
}

section.planos .conteudo .preco h3 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.7rem, 3vw, 2.5rem);
  color: var(--cor-branco);
}

section.planos .conteudo .preco h3 span.maior {
  font-size: clamp(4rem, 3vw, 7rem);
}

section.planos .conteudo .preco h3 span.cinza {
  font-family: var(--fonte-light);
  color: var(--cor-texto);
}

section.planos .conteudo .preco p {
  font-family: var(--fonte-demibold);
  font-size: clamp(1rem, 3vw, 1.3rem);
  line-height: 1.5;
  color: var(--cor-texto);
  transition: all 0.3s;
  padding: 10px 0 0 0;
}

section.planos .conteudo .preco p.ativo {
  transform: scale(1.1);
  color: var(--cor-principal);
}

section.planos .conteudo button.assinar {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: var(--cor-branco);
  background-color: var(--cor-principal);
  width: 100%;
  padding: 30px;
  border-radius: 0 0 20px 20px;
  transition: all 0.3s;
}

section.planos .conteudo button.assinar:hover {
  background-color: var(--cor-branco);
  color: var(--cor-secundaria-1);
}

/* Conteúdo Opções */

section.planos .conteudo .opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  min-height: 766px;
  padding: 0 0 0 50px;
}

section.planos .conteudo .opcoes button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--cor-secundaria-2);
  width: 100%;
  padding: 50px 50px 50px 140px;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s;
  border: 2px solid var(--cor-secundaria-2);
}

section.planos .conteudo .opcoes button:hover {
  border: 2px solid var(--cor-principal);
}

section.planos .conteudo .opcoes button.ativo {
  background-color: var(--cor-principal);
  pointer-events: none;
}

section.planos .conteudo .opcoes button h3 {
  font-family: var(--fonte-demibold);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--cor-branco);
}

section.planos .conteudo .opcoes button h3 span {
  color: var(--cor-principal);
  transition: all 0.3s;
}

section.planos .conteudo .opcoes button p {
  font-family: var(--fonte-light);
  font-size: clamp(1rem, 3vw, 1.3rem);
  line-height: 1.5;
  color: var(--cor-texto);
  transition: all 0.3s;
}

section.planos .conteudo .opcoes button.ativo p {
  color: var(--cor-branco);
}

section.planos .conteudo .opcoes button.ativo h3 span {
  color: var(--cor-branco);
}

section.planos .conteudo .opcoes button div.bolinha {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border: 2px solid var(--cor-principal);
  background-color: var(--cor-secundaria-2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

section.planos .conteudo .opcoes button.ativo div.bolinha {
  background-color: var(--cor-branco);
}

section.planos .conteudo .opcoes button div.seta {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--cor-secundaria-2);
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%) rotate(45deg);
  transition: all 0.3s;
}

section.planos .conteudo .opcoes button.ativo div.seta {
  background-color: var(--cor-principal);
  left: -15px;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
  section.planos {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
