/*

INDEX > SECTION.beneficios

*/

section.beneficios {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: var(--cor-secundaria-2);
  background-image: url('../../../../../files/images/linhas-tecnologicas-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

/* Teclado */

section.beneficios img.teclado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 50%;
  transform: rotate(180deg);
}

/* Itens */

section.beneficios .itens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 100px 80px;
}

section.beneficios .itens .item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 0;
}

section.beneficios .itens .item img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
}

section.beneficios .itens .item .texto {
  padding: 70px 50px 0 50px;
}

section.beneficios .itens .item.dois .texto {
  padding: 70px 50px 0 0;
}

section.beneficios .itens .item h3 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1.5;
  color: var(--cor-branco);
}

section.beneficios .itens .item p {
  font-family: var(--fonte-light);
  font-size: clamp(1rem, 3vw, 1.3rem);
  line-height: 1.5;
  color: var(--cor-texto);
  padding: 10px 0 0 0;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
  section.beneficios {
    flex-direction: column;
    justify-content: center;
  }
  section.beneficios img.teclado {
    right: -140px;
    max-width: 100%;
  }
  section.beneficios .itens {
    width: 100%;
    padding: 550px 25px 100px 25px;
  }
  section.beneficios .itens .item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 100px 0 0 0;
  }
  section.beneficios .itens .item img {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
  }
  section.beneficios .itens .item .texto {
    padding: 0 0 0 25px;
  }
  section.beneficios .itens .item.dois .texto {
    padding: 0 25px 0 0;
  }
}
